version: "3"

services:
  nginx-example-<%= kebabName %>:
    image: nginx
    container_name: nginx-example-<%= kebabName %>
    ports:
      - ${NX_CONTAINER_APP_PORT}:80
    volumes:
      - ./src:/usr/share/nginx/html
